@charset "UTF-8";
/* CSS Document */


body {
	
	background: #bdad95 /* url("../_img/_Swanson.jpg") no-repeat bottom right fixed*/;
	width: 960px; 
	
	margin: 0 auto;
	
	/* background: #FCEDDC; */
	
	
}
#everything {
		background: #E6DCCC /* url("../_img/_textpap.png") repeat*/;
}
	 
p {
	font-family: Cabin condensed, times new roman, serif;
	color: #05275E;
	font-size: 13pt;
	line-height: 1.5;
	padding: 0 15px 0 0px;
	text-align: center;
}		
		


h1{
	font-family: Coustard, times new Roman, serif;
	font-size: 45pt;
	line-height: 1;
	color: #123052;
	text-align: center;
	margin: 30px 0 0px 0;
	width: 960px; 
	background: rgba(189,173,149,.4);
	padding: 10px 0;
		
	
}

#middle {
	  width: 960px;
	  overflow: hidden; 
      position: relative; 
      clear: both;
		padding: 0px 10px;	 
}



h2 {
	font-family: Cabin Sketch, times new roman, serif; 
	font-size: 40pt;
	color: #780A0A;
	line-height: .9;
	text-align: center;
	
}


#teaser{
		float: left;
		width: 240px;
		padding: 0 0 0 15px;
}

#teaser h2 {
	padding: 0px 0 0 10px;
	margin: 20px 0 -5px 0;
	
	
}
	

#swansonpic {
	float: left;
	width: 400px;
	margin: 0 5px -10px 0;
	
	
}
#datetime {
		line-height: .7;
		margin: 35px 0 0 0;
		padding: 10px 0 0 0;
		
		
}
#setting {
		line-height: .7;
		margin: 0;
	
}

#swansonpic p {
		font-size: 17pt;
		line-height: 1;
		
}

#bio{
	float: left;
	width: 260px;
	padding: 0 10px 0 0;
	margin: 0 0 0 10px;
	
	
}

#bio h2{
	width: 270px;
	margin: 20px 0 -5px 0;
	padding: 0 10px 0 0;
	
	
}



#footer {
	
	background: rgba(189,173,149,.4);
   border-bottom: solid 30px #E6DCCC; 

	
}